
#wrapper{
	width: 100%;
	height: 100%;
	position: relative;

}

h2 {
	color: #63A8A4;
}
#connect_img {
	width: 40px;
	height: 40px;
	
}
html, body{
	height: 100%;
	margin: 0;
	color: #CCCCCC;

}

#portfolio_img {
	float: left;
	margin-right: 5px;
}

#p_name {
	font-weight: 25px;
	color: white;
	text-align: center;
}

#head {
	background-color: white;
	clear: both;
	width: 100%;
	height: 100px;
	position: absolute;
	top: 0;

}

#menu{
	line-height: 50px;
	float: right;
	margin-right: 10%;
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 10%;
	margin-bottom: 5px;
}

#name {
	background-color: #4FA9A4;

	width: 170px;
	height: 50px;

	margin-left: 10%;

	float: left;

	position: absolute;
	bottom: 0;

	

}

#about{
	float: left;
	margin-right: 10px;
	width: 50px;
	height: 100%;
}
#portfolio {
	float: left;
	margin-right: 10px; 
	margin-left: 10px;

	border-right: solid;
	border-left: solid;
	border-color: darkgray;
	padding-right: 15px;
	padding-left: 10px;

	width: 50px;
	height: 100%;
}
#contact {
	float: left;
	margin-left: 10px;

	width: 50px;
	height: 100%;
}



#content {
	margin: 0;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    clear: both;
    background-color: #EDEDED;
    width: auto;
    height: auto;
    border-top: solid;
    border-color: darkgray;
    position: absolute;
    top: 100px;
    bottom: 100px;
    overflow: scroll;
    display: flex;
}

#inside_info {
	left: 10%;
    top: 10px;
    clear: both;
    float: left;
	margin-right: 40px;
	background-color: white;
	padding-left: 5px;
	padding-right: 5px;

}

#connect_with_me {
	min-width: 200px;
    height: 150px;
    background-color: white;
    float: left;
    text-align: center;
}

#foot {
	clear: both;
	background-color: #666666;
	width: 100%;
	height: 100px;


	border-top: solid;
	border-color: #4FA9A4;
	border-width: 5px;

	text-align: center;
	line-height: 100px;
	position: absolute;
	bottom: 0;

}
